<!-- <h1>hello world!!</h1>
<hinv-rooms></hinv-rooms>

<hinv-container>
  <hinv-rooms></hinv-rooms>
  <hinv-employee></hinv-employee>
  <h1 class="h1 mx-5 my-5 container">This is from ng-content</h1>
</hinv-container> -->

<!-- # used for template rendering -->
<!-- <div
  #name
  class="container container-sm container-md container-lg my-5 mx-5 h4"
></div> -->
<!-- <div #back class="btn btn-primary text-white">back</div> -->
<!--
<div [ngSwitch]="role">
    <div *ngSwitchCase="'user'">
        welcome user!!!
    </div>
    <div *ngSwitchCase="'admin'">
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchDefault>
        you are not authorized to view this page!
    </div>
</div>-->

<!-- <div>
    <ng-template #user></ng-template>
    
</div> -->
<!-- <div class="h1">
  {{ stream$ | async | json }}
</div> -->
<!-- <div>
  <a href="'rooms'">Rooms</a>
</div>
<div class="nav">
  <div class="nav-group">
    <div class="nav-item">
      <a
        class="text-decoration-none"
        routerLink="/employee"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >employee</a
      >
    </div>
    <div class="nav-item">
      <a
        class="text-decoration-none"
        routerLink="/rooms"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        rooms
      </a>
    </div>
  </div>
</div> -->
<hinv-app-nav></hinv-app-nav>
<br />
<br />
<br />
<!-- <router-outlet /> -->
